@model InstaSharp.Data.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="inner-wrapper white">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4 class="subtitle">Sign up to see photos and videos from your friends.</h4>

        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.TextBoxFor(m => m.Username, new { @placeholder = "Username" })

        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email" })

        @Html.TextBoxFor(m => m.RealName, new { @placeholder = "Full name" })

        @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })

        @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm password" })

        <p>
            <button type="submit" class="btn btn-default"><i class="fa fa-user"></i>Register</button>
        </p>
        <p>
            Have an account? @Html.ActionLink("Log in", "Login")
        </p>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
